        body {
            padding:30px 50px;
        }
        .user-header {
            text-align: right;
        }
        .user-header a {
            margin-right: 20px;
        }
        .page-header h1 {
            font-size: 62px;
        }
        .span3 {
            background-color: rgba(0,0,0,0.06);
            border-radius: 5px;
            height: 600px;
        }
        .span9 {
            background-color: rgba(255, 255, 255, 0.57);
            height: auto;
            border-radius: 5px;

        }
        .container-fluid {
            padding: 0;
        }
        
.pop-blog h3 {
    color: #fff;
    font-size: 160%;
    margin-bottom: 4px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    font-weight: 700;
    background-color: rgba(21, 177, 255, 0.59);
    padding-left: 17px;
}
        .pop-blog ul {
    
        }
.pop-blog ul li {
    height: 47px;
    font-size: 14px;
    border: 1px solid rgba(222, 222, 222, 0.52);
    background-color: #FFF;
    line-height: 39px;
    height: auto;
}   
        .pop-blog ul li a {
            margin-left: 18px;
        }
        
        .span9 .span9 {
            height: auto;
            background-color: aliceblue;
            min-height: 600px;
        }
        footer {
            text-align: center;
            margin-top: 10px;
        }
        .blog {
            padding: 30px;
        }
        .blog h3 {
            font-size: 35.5px;
            border-bottom: 1px solid #DEDEDE;
            padding-bottom: 10px;
        }
        .blog a {
            font-size: 20px;
            margin-left: 10px;
        }
        .blog li span a {
            display: inline;
            line-height: 30px;
            font-size: 12px;
        }
        .blog p {
            display: inherit;
            margin-left: 18px;
        }
        .blog ul li {
            height: 70px;
            background-color: #fff;
            border-radius: 5px;
            border-bottom: 1px solid #ccc;
        }
        .blog ul span {
            margin-left: 20px;
            margin-top: 5px;
            font-size: 12px;
        }
        .pop-blog ul li span {
            display: inline;
            margin-left: 10px;
            float: right;
            margin-right: 12px;
        }
        .pop-blog ul li p {
            display: inline;
            margin-right: 5px;
        }
        .li {
            padding-top: 15px;
        }
        .form-search {
            margin-top: 30px;
            margin-left: 10px;
        }
        .form-search input {
            width: 50%;
        }
        .top-nav {
            background-color: #5bc0de;
            height: 55px;
        }
        .nav {
            padding: 9px;
        }
        .nav li {
            margin-left: 20px;
        }
        .nav>.disabled>a {
            color: #fff;
            font-size: 20px;
        }
        .top-nav ul li a:hover {
            color: #DEDEDE;
        }
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 95;
            width: 100% !important;
            height: 1000px !important;
            background: rgba(100, 100, 70, 0.41);;
        }
        .blog-form {
            width: 840px;
            height: 580px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -290px;
            margin-left: -420px;
            border: 1px solid #888;
            border-radius: 8px;
            box-shadow: 0 0 80px 0 rgba(0,0,0,.3);
            background-color: #ffffff;
            z-index: 99;
        }
        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .blog-form-header {
            background-color: #08c;
            color: #fff;
            height: 50px;
        }
        .blog-form-header p {
            display: inline;
            padding: 33px;
            line-height: 47px;
            font-size: 18px;
        }
        #post-blog .blog-form-header a {
            color: #fff;
            float: right;
            font-size: 18px;
            margin-right: 24px;
            line-height: 50px;
        }
        .blog-form-title {
            width: 93%;
            margin-top: 20px;
            margin-left: 22px;
        }
        #post-blog form input {
            height: 30px;
        }
        .edit-content textarea {
            margin-left: 23px;
            width: 93%;
            height: 300px;
        }
        .nav {
            margin-bottom: 0px;
        }
        .edit-content button {
            float: right;
            margin-right: 20px;
        }
        .alert {
            width: 89%;
            margin-left: 20px;
            padding-bottom: 9px;
            color: rgba(236, 44, 44, 0.71);
        }
        #errorTip {
            margin-bottom: 9px;
        }
        .edit-btn ul li {
            cursor: pointer;
        }
        .right-top {
            height: 41px;
            background-color: #6ecbf9;
            color: #fff;
        }
        .right-top h3 {
            margin: 0;
            padding-left: 10px;
        }

        .searchInfo {
            width: 110px;
            margin-left: 10px;
            margin-top: 30px;
        }
        .searchblog {
            margin-top: 17px;
        }
        .infosearch {
            width: 180px;
        }
        #errmessage {
            width: 166px;
            margin-left: 1px;
        }
        .blogresult {
            background-color: rgba(98, 196, 98, 0.23);
            padding: 20px;
        }
        .blogresult li {
            height: 36px;
            border-bottom: 1px solid #fff;
            line-height: 32px;
            height: auto;
        }
        .blogresult li a {
            margin-left: 18px;
        }